@font-face {
  font-family: 'PF BeauSans Pro';
  src: url("../fonts/PFBeauSansPro-Black.woff2") format("woff2"), url("../fonts/PFBeauSansPro-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'PF BeauSans Pro';
  src: url("../fonts/PFBeauSansPro-Regular.woff2") format("woff2"), url("../fonts/PFBeauSansPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PF BeauSans Pro';
  src: url("../fonts/PFBeauSansPro-Light.woff2") format("woff2"), url("../fonts/PFBeauSansPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PF BeauSans Pro';
  src: url("../fonts/PFBeauSansPro-SemiBold.woff2") format("woff2"), url("../fonts/PFBeauSansPro-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

.btn_custom {
  background-color: transparent;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  line-height: 1.1;
  display: flex;
  justify-content: center;
  font-family: "PF BeauSans Pro", sans-serif;
}

.btn--small {
  padding: 8px 12px;
  min-width: 65px;
  font-size: 12px;
}

.btn--medium {
  padding: 10px 14px;
  min-width: 85px;
  font-size: 14px;
}

.btn--large {
  padding: 12px 16px;
  min-width: 105px;
  font-size: 18px;
}

.btn--filled {
  background-color: #3fae2a;
  color: #fff !important;
  transition: 0.3s ease-in-out;
}

.btn--filled:hover {
  background-color: transparent;
  border: 1px solid #3fae2a;
  color: #3fae2a;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: 0.3s ease-in-out;
}

.btn-border {
  border: 1px solid #3fae2a;
  color: #3fae2a;
  border-radius: 0px;
  display: flex;
  justify-content: center;
}

.btn-border:hover {
  text-decoration: none;
  color: #fff;
  background-color: #3fae2a;
}

@media (max-width: 767.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px;
    /* Height of navbar */
    bottom: 0;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    background-color: var(--gray-dark);
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  .offcanvas-collapse.open {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem);
    /* Account for horizontal padding on navbar */
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: var(--secondary);
}

.nav-underline .nav-link:hover {
  color: var(--blue);
}

.nav-underline .active {
  font-weight: 500;
  color: var(--gray-dark);
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5);
}

.bg-purple {
  background-color: var(--purple);
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.lh-100 {
  line-height: 1;
}

.lh-125 {
  line-height: 1.25;
}

.lh-150 {
  line-height: 1.5;
}

.main-destiny__content .slick-prev {
  z-index: 2;
  height: 40px;
  width: 40px;
  top: 80%;
  left: 12%;
  background-color: #3fae2a;
}

.main-destiny__content .slick-prev:before {
  font-size: 25px;
  color: #fff;
  content: "\f053";
  font-family: 'FontAwesome';
  z-index: 3;
}

.main-destiny__content .slick-prev:hover {
  outline: none;
  background: #3fae2a;
  color: #fff;
}

.main-destiny__content .slick-next {
  left: 22%;
  z-index: 2;
  height: 40px;
  width: 40px;
  top: 80%;
  background-color: #3fae2a;
}

.main-destiny__content .slick-next:before {
  font-size: 25px;
  color: #fff;
  content: "\f054";
  font-family: 'FontAwesome';
}

.main-destiny__content .slick-next:hover {
  outline: none;
  background: #3fae2a;
  color: #fff;
}

.main-destiny__content .slick-dots {
  z-index: 2;
  display: flex;
  position: absolute;
  bottom: 5%;
  right: 53%;
  width: 0%;
}




.main-destiny__content .slick-dots .slick-active button:before {
  color: #00b050;
  opacity: 0.75;
  width: 35px;
  margin: 0;
}

.main-destiny__content .slick-dots li {
  margin: 0 10px;
}

.main-destiny__content .slick-dots li button:before {
  color: gray;
  content: '';
  height: 12px;
  width: 12px;
  display: inline-block;
  background: #0c9ee9;
  border-radius: 6px;
  cursor: pointer;
  transition: all 300ms ease;
}

.main-destiny__content .slick-dots li button:hover:before,
.main-destiny__content .slick-dots li button:focus:before {
  color: #00b050;
}

.main-banner__content .slick-dots {
  z-index: 2;
  display: flex;
  position: absolute;
  bottom: 28%;
  right: 38%;
  width: 0%;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-banner__content .slick-dots {
    left: 45%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-banner__content .slick-dots {
    left: 45%;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-banner__content .slick-dots {
    left: 35%;
  }
}

.main-banner__content .slick-dots .slick-active button:before {
  color: #00b050;
  opacity: 0.75;
  width: 35px;
  margin: 0;
  display: none !important;
}

.main-banner__content .slick-dots li {
  margin: 0 10px;
}

.main-banner__content .slick-dots li button:before {
  color: gray;
  content: '';
  height: 168px;
  width: 400px;
  display: inline-block;
  background: transparent;
  border-radius: 6px;
  cursor: pointer;
  transition: all 300ms ease;
}

.main-banner__content .slick-dots li button:hover:before,
.main-banner__content .slick-dots li button:focus:before {
  color: #00b050;
}

@font-face {
  font-family: 'PF BeauSans Pro';
  src: url("../fonts/PFBeauSansPro-Black.woff2") format("woff2"), url("../fonts/PFBeauSansPro-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'PF BeauSans Pro';
  src: url("../fonts/PFBeauSansPro-Regular.woff2") format("woff2"), url("../fonts/PFBeauSansPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PF BeauSans Pro';
  src: url("../fonts/PFBeauSansPro-Light.woff2") format("woff2"), url("../fonts/PFBeauSansPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PF BeauSans Pro';
  src: url("../fonts/PFBeauSansPro-SemiBold.woff2") format("woff2"), url("../fonts/PFBeauSansPro-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

.modal-dialog {
  max-width: 600px;
}

.modal-header {
  border-bottom: 1px solid transparent;
  padding: 20px 35px 0 35px;
}

.modal-body {
  padding: 0 35px;
}

.modal-title {
  font-size: 65px;
  font-weight: 700;
  color: #3fae2a;
  font-family: "PF BeauSans Pro", sans-serif;
  font-weight: 900;
}

.modal-subtitle {
  font-size: 55px;
  font-weight: 300;
  color: #3fae2a;
  font-family: "PF BeauSans Pro", sans-serif;
  font-weight: 100;
}

.modal-description {
  color: #3fae2a;
  font-size: 15px;
  font-family: "PF BeauSans Pro", sans-serif;
  font-weight: 100;
}

.close {
  color: #3fae2a;
  opacity: 1;
}

.modal-footer {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 0 45px 20px 45px;
  border-top: 1px solid transparent;
}

.modal-footer__content p {
  color: #3fae2a;
  font-size: 15px;
  font-family: "PF BeauSans Pro", sans-serif;
}

.form-control {
  background-color: #eee;
}

.btn_modal {
  border-bottom: 5px solid #3fae2a;
  width: 40%;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PF BeauSans Pro", sans-serif;
}

body {
  background-color: #eee !important;
}

.img-round {
  border-radius: 5px;
}

section {
  padding: 50px 0;
}

.navbar {
  background-color: transparent;
  transition: .3s ease-in-out;
}

.navbar.fixed {
  height: 60px;
  background-color: #fff;
  transition: .3s ease-in-out;
}

.nav-link {
  color: #fff;
  transition: .3s ease-in-out;
  font-family: "PF BeauSans Pro", sans-serif;
}

.nav-link.fixed-color {
  color: #3fae2a;
  transition: .3s ease-in-out;
}

.nav-link:hover {
  color: #3fae2a;
}

.navbar-brand {
  width: 150px;
}

.navbar-brand img {
  width: 100%;
}

.navbar-collapse {
  justify-content: center;
}

.main-nav__search {
  width: 200px;
  display: flex;
  justify-content: flex-end;
}

.main-nav__search.main-nav__search--scroll a {
  color: #000;
  margin-right: 10px;
  padding: 5px 10px;
}

.main-nav__search a {
  color: #fff;
}

.main-nav__search .main-nav__mail {
  opacity: 0;
}

.main-nav__search .main-nav__mail.main-nav__mail--scroll {
  opacity: 1;
  background-color: green;
  padding: 5px 10px;
  color: #fff;
}

.dropdown-menu {
  background-color: transparent;
  border: 1px solid transparent;
  border-top: 2px solid #3fae2a;
  margin-left: 10px;
}

.dropdown-menu.dropdown-menu--scroll {
  background-color: #fff;
}

.dropdown-item {
  color: #fff;
  display: flex;
  align-items: center;
  height: 50px;
  font-family: "PF BeauSans Pro", sans-serif;
}

.dropdown-item img {
  width: 28px;
}

.dropdown-item.dropdown-item--scroll {
  color: #000;
}

.dropdown-item:hover {
  background-color: transparent;
}

.nav-tabs {
  border-bottom: 2px solid #3fae2a;
  display: flex;
  justify-content: space-between;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #000;
  font-weight: 700;
  background-color: transparent;
  border-color: transparent;
  font-size: 18px;
}

.nav-tabs .nav-link {
  font-size: 17px;
  color: #3fae2a;
}

.tabs-left {
  display: flex;
}

select {
  background-color: white;
  /* inline SVG */
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20256%20448%22%20enable-background%3D%22new%200%200%20256%20448%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E.arrow%7Bfill%3A%23424242%3B%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22arrow%22%20d%3D%22M255.9%20168c0-4.2-1.6-7.9-4.8-11.2-3.2-3.2-6.9-4.8-11.2-4.8H16c-4.2%200-7.9%201.6-11.2%204.8S0%20163.8%200%20168c0%204.4%201.6%208.2%204.8%2011.4l112%20112c3.1%203.1%206.8%204.6%2011.2%204.6%204.4%200%208.2-1.5%2011.4-4.6l112-112c3-3.2%204.5-7%204.5-11.4z%22%2F%3E%3C%2Fsvg%3E%0A");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: auto 50%;
  border-radius: 2px;
  border: none;
  color: #ffffff;
  padding: 10px 30px 10px 10px;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

select.form-control {
  border: 1px solid transparent;
  color: #3fae2a;
  font-size: 17px;
  font-family: "PF BeauSans Pro", sans-serif;
}

select.form-control:focus {
  color: #495057;
  background-color: transparent;
  border-color: transparent;
  outline: 0;
  box-shadow: 0 0 0 0.2rem transparent;
}

.main-banner {
  position: relative;
  overflow: hidden;
}

.main-banner .main-banner__item {
  position: relative;
}

.main-banner .main-banner__text {
  position: absolute;
  top: 250px;
  width: 400px;
  left: 10%;
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-banner .main-banner__text {
    top: 160px;
  }
}

.main-banner .main-banner__text .main-banner__number {
  padding: 0 25px;
}

.main-banner .main-banner__text .main-banner__number span {
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  line-height: 1;
  margin: 0;
}

.main-banner .main-banner__text .main-banner__number .main-banner-smaline {
  border: 0;
  border-top: 3px solid #fff;
  width: 70%;
  margin: 0 0 10px 0px;
}

.main-banner .main-banner__text .main-banner__title p {
  padding: 0 25px;
  color: #fff;
  font-size: 80px;
  font-weight: 800;
  line-height: 1;
  margin: 0;
  font-family: "PF BeauSans Pro", sans-serif;
}

.main-banner .main-banner__text .main-banner__title span {
  padding: 0 25px;
  color: #fff;
  font-size: 60px;
  line-height: 1;
  margin: 0;
  font-family: "PF BeauSans Pro", sans-serif;
  font-weight: 300;
}

.main-banner .main-banner__text .main-banner__description {
  padding: 0 25px;
  color: #fff;
  font-size: 16px;
  line-height: 1.5rem;
  margin: 10px 0 0 0;
  font-family: "PF BeauSans Pro", sans-serif;
  font-weight: 300;
}

.main-banner .main-slider__next {
  position: absolute;
  right: 0px;
  bottom: 29px;
  width: 440px;
}

.main-banner .main-slider__next .main-slider__box {
  display: flex;
}

.main-banner .main-slider__next .main-slider__box hr.main-slider__line {
  margin-top: 0px;
  border: 0;
  border-top: 4px solid #fff;
}

.main-banner .main-slider__next .main-slider__box .main-slider__text {
  background-color: #545759;
  width: 140px;
  font-family: "PF BeauSans Pro", sans-serif;
  font-weight: 300;
}

.main-banner .main-slider__next .main-slider__box .main-slider__text .main-slider__number {
  padding: 0 25px;
  font-family: "PF BeauSans Pro", sans-serif;
  font-weight: 300;
}

.main-banner .main-slider__next .main-slider__box .main-slider__text .main-slider__number span {
  color: #fff;
  font-size: 20px;
  line-height: 1;
  margin: 0;
  font-family: "PF BeauSans Pro", sans-serif;
  font-weight: 900;
}

.main-banner .main-slider__next .main-slider__box .main-slider__text .main-slider__number .main-slider-smaline {
  border: 0;
  border-top: 1px solid #fff;
  width: 100%;
  margin: 0 0 10px 0px;
}

.main-banner .main-slider__next .main-slider__box .main-slider__text .main-slider__title {
  padding: 0 25px;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  line-height: 1;
  margin: 0;
  font-family: "PF BeauSans Pro", sans-serif;
  font-weight: 900;
}

.main-banner .main-slider__next .main-slider__box .main-slider__text .main-slider__description {
  padding: 0 25px;
  color: #fff;
  font-size: 20px;
  font-family: "PF BeauSans Pro", sans-serif;
  font-weight: 300;
  line-height: 1;
  margin: 0;
}

.main-banner .main-slider__next .main-slider__box .main-slider__img {
  height: 180px;
  width: 300px;
}

.main-banner .main-slider__next .main-slider__box .main-slider__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.main-banner__mail {
  padding: 30px 25px;
}

.main-banner__mail .main-banner__boxmail {
  display: flex;
  align-items: baseline;
  background-color: #fff;
  padding: 5px;
  width: 50%;
  justify-content: flex-start;
  height: 35px;
  border-radius: 5px;
  font-family: "PF BeauSans Pro", sans-serif;
  font-weight: 300;
}

.main-banner__mail .main-banner__boxmail i {
  margin-right: 5px;
}

.main-banner__scroll {
  position: absolute;
  bottom: 115px;
  left: 50%;
  transform: rotate(90deg);
  border-bottom: 3px solid #fff;
  font-family: "PF BeauSans Pro", sans-serif;
}

.main-banner__scroll a {
  color: #fff;
  text-decoration: none;
}

.main-banner__scroll a:hover {
  text-decoration: none;
  outline: none;
}

.main-banner__img {
  width: 100%;
  height: 100vh;
}

.main-banner__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-destiny__item {
  display: grid;
  grid-template-columns: 30% 70%;
}

.main-destiny__item .main-destiny__box {
  padding: 30px;
  background-color: #fff;
}

.main-destiny__title {
  font-weight: bold;
  font-size: 50px;
  font-family: "PF BeauSans Pro", sans-serif;
}

.main-post__content {
  display: grid;
  grid-template-columns: 30% 70%;
}

.main-post__content .main-post__box {
  background-color: #fff;
  padding: 30px;
  height: 400px;
  min-height: 400px;
}

.main-post__content .main-post__box .main-post__title p {
  font-size: 80px;
  color: #3fae2a;
  font-weight: 900;
  margin: 0px !important;
  line-height: 1;
  margin-bottom: 30px;
  font-family: "PF BeauSans Pro", sans-serif;
}

.main-post__content .main-post__box .main-post__title span {
  font-size: 50px;
  color: #3fae2a;
  font-weight: 600;
  font-family: "PF BeauSans Pro", sans-serif;
}

.main-post__content .main-post__box .main-post__description {
  font-family: "PF BeauSans Pro", sans-serif;
  font-weight: 100;
}

.main-post__content .main-post__img {
  height: 600px;
}

.main-post__content .main-post__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-post__content .main-post__btn {
  width: 50%;
}

.main-articles__content {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 30px;
}

.content__title {
  margin-bottom: 30px;
}

.content__title h2 {
  font-size: 50px;
  font-weight: 900;
  text-transform: uppercase;
  color: #545759;
  font-family: "PF BeauSans Pro", sans-serif;
}

.main-articles__item {
  position: relative;
}

.main-articles__img {
  width: 100%;
  height: 300px;
}

.main-articles__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-articles__title {
  position: absolute;
  top: 30px;
  left: 30px;
}

.main-articles__title p {
  font-size: 45px;
  color: #fff;
  font-weight: 800;
  margin: 0px;
  font-family: "PF BeauSans Pro", sans-serif;
  font-weight: 900;
}

.main-articles__title span {
  font-size: 30px;
  color: #fff;
  font-family: "PF BeauSans Pro", sans-serif;
  font-weight: 100;
}

hr.main-articles__line {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 4px solid #8bc34a;
  width: 103%;
}

.main-article__btn {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

footer {
  padding: 40px 0;
}

.main-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main-footer a {
  color: #3fae2a;
  text-decoration: none;
  font-family: "PF BeauSans Pro", sans-serif;
}

.main-footer a:hover {
  text-decoration: none;
}

.main-parallax {
  background-image: url("../img/img-1.jpg");
  background-size: cover;
  height: 70vh;
  background-attachment: fixed;
  position: relative;
  background-position: 50% -140px;
}

.main-parallax .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: .5;
}

.breadcrumb {
  background-color: transparent;
}

.breadcrumb-item.active {
  color: #6c757d;
  font-size: 30px;
  text-transform: uppercase;
}

.breadcrumb-item.active a {
  color: #3fae2a;
  text-decoration: none;
  font-family: "PF BeauSans Pro", sans-serif;
}

.breadcrumb-item.active a:hover {
  text-decoration: none;
}

.breadcrumb-item+.breadcrumb-item {
  font-size: 30px;
  text-transform: uppercase;
  font-family: "PF BeauSans Pro", sans-serif;
}

.main-parallax__title {
  position: absolute;
  bottom: 50px;
  left: 9%;
}

.main-parallax__title h1 {
  font-size: 85px;
  color: #fff;
  font-weight: 800;
  line-height: 1rem;
  font-family: "PF BeauSans Pro", sans-serif;
}

.main-parallax__title span {
  font-size: 85px;
  color: #fff;
  font-weight: 300;
  margin-left: 10px;
  font-family: "PF BeauSans Pro", sans-serif;
}

.main-parallax__title.main-parallax__title--post {
  bottom: 60px;
  font-family: "PF BeauSans Pro", sans-serif;
}

.main-country__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.main-country__item {
  position: relative;
}

.main-country__img {
  width: 100%;
  height: 300px;
}

.main-country__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-country__title {
  position: absolute;
  top: 30px;
  left: 30px;
}

.main-country__title p {
  font-size: 40px;
  color: #fff;
  font-weight: 800;
  margin: 0px;
  font-family: "PF BeauSans Pro", sans-serif;
}

.main-country__title span {
  font-size: 30px;
  color: #fff;
  font-family: "PF BeauSans Pro", sans-serif;
}

.main-country__btn {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.main-parallax__btn {
  display: flex;
  justify-content: start;
  margin-left: 10px;
}

.main-detailsposts__content {
  display: grid;
  grid-template-columns: 70% 30%;
}

.main-detailsposts__content .main-detailsposts__img {
  height: 300px;
}

.main-detailsposts__content .main-detailsposts__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-detailsposts__content .main-posts__box {
  background-color: transparent;
  padding: 30px;
}

.main-detailsposts__content .main-posts__box .main-posts__title p {
  font-size: 65px;
  color: #3fae2a;
  font-weight: 900;
  margin: 0px;
  line-height: 1;
  margin-bottom: 30px;
  font-family: "PF BeauSans Pro", sans-serif;
}

.main-detailsposts__content .main-posts__box .main-posts__title p span {
  font-size: 50px;
  color: #3fae2a;
  font-weight: 800;
}

.main-detailsposts__content .main-posts__box .main-posts__autor {
  display: flex;
}

.main-detailsposts__content .main-posts__box .main-posts__autor .main-posts__line {
  width: 2px;
  height: 25px;
  background-color: gray;
  margin: 0 5px;
}

.main-detailsposts__content .main-posts__box .main-posts__social {
  display: flex;
  justify-content: space-between;
}

.main-detailsposts__content .main-posts__box .main-posts__social .main-posts__tags {
  display: flex;
}

.main-detailsposts__content .main-posts__box .main-posts__social .main-posts__tags p {
  font-family: "PF BeauSans Pro", sans-serif;
}

.main-detailsposts__content .main-posts__box .main-posts__social .main-posts__tags p:first-child {
  margin-right: 10px;
}

.main-detailsposts__content .main-posts__box .main-posts__description p {
  font-family: "PF BeauSans Pro", sans-serif;
}

.main-detailsposts__content .main-posts__box .main-posts__description .main-posts__description--img {
  width: 100%;
  margin-bottom: 20px;
}

.main-detailsposts__content .main-posts__box .main-posts__description .main-posts__description--img img {
  width: 100%;
}

.main-detailsposts__content .main-posts__box .main-posts__description .main-posts__description--redes {
  display: flex;
  margin-bottom: 20px;
}

.main-detailsposts__content .main-posts__box .main-posts__description .main-posts__description--redes i {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202020;
  color: #fff;
  margin-right: 10px;
}

.main-posts__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-top: 55px;
}

.main-posts__content .main-posts__box {
  background-color: transparent;
  padding: 30px;
  height: 400px;
  min-height: 400px;
}

.main-posts__content .main-posts__box .main-posts__title p {
  font-size: 50px;
  color: #3fae2a;
  font-weight: 800;
  margin: 0px;
  line-height: 1;
  margin-bottom: 30px;
  font-family: "PF BeauSans Pro", sans-serif;
}

.main-posts__content .main-posts__box .main-posts__title p span {
  font-size: 50px;
  color: #3fae2a;
  font-weight: 800;
}

.main-posts__content .main-posts__box .main-posts__autor {
  display: flex;
}

.main-posts__content .main-posts__box .main-posts__autor .main-posts__line {
  width: 2px;
  height: 25px;
  background-color: gray;
  margin: 0 5px;
}

.main-posts__content .main-posts__box .main-posts__social {
  display: flex;
  justify-content: space-between;
}

.main-posts__content .main-posts__box .main-posts__social .main-posts__tags {
  display: flex;
}

.main-posts__content .main-posts__box .main-posts__social .main-posts__tags p:first-child {
  margin-right: 10px;
}

.main-posts__content .main-posts__img {
  height: 300px;
}

.main-posts__content .main-posts__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-posts__content .main-posts__btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.main-posts__name p {
  font-family: "PF BeauSans Pro", sans-serif;
}

.main-posts__description p {
  font-family: "PF BeauSans Pro", sans-serif;
}

.main-posts__date span {
  font-family: "PF BeauSans Pro", sans-serif;
}

.main-posts__comments p {
  font-family: "PF BeauSans Pro", sans-serif;
}

.main-posts__tags p {
  font-family: "PF BeauSans Pro", sans-serif;
}

.main-post__contact {
  background-color: #fff;
}

.main-post__content {
  display: grid;
  grid-template-columns: 50% 50%;
}

.main-post__info {
  padding-right: 20px;
  border-right: 4px solid #3fae2a;
}

.main-post__form {
  padding-left: 15px;
}

.group-btn {
  display: grid;
  grid-template-columns: 20% 80%;
}

.group-btn .btn_modal {
  width: 50%;
}

.main-commend__formbox {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-post__form--img {
  width: 100px;
}

.main-post__form--img img {
  width: 100%;
}

.main-commend__form {
  display: grid;
  grid-template-columns: 20% 70%;
  width: 600px;
}

.main-commend__title {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.main-commend__title h2 {
  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;
  color: #3fae2a;
}

.main-post__form--form input {
  background-color: #fff;
}

input {
  font-family: "PF BeauSans Pro", sans-serif;
}

.line-gray {
  width: 55%;
}

.main-post__form--name {
  display: flex;
}

.main-post__form--name .form-name {
  font-weight: 700;
  font-family: "PF BeauSans Pro", sans-serif;
}

.main-post__form--name span {
  margin-right: 10px;
  font-family: "PF BeauSans Pro", sans-serif;
}

.main-post__form--detail {
  display: flex;
}

.main-post__form--description p {
  font-family: "PF BeauSans Pro", sans-serif;
}

.main-post__form--compatir {
  display: flex;
  margin-left: 10px;
}

.main-post__form--compatir span {
  color: #3fae2a;
  text-transform: uppercase;
  margin-right: 10px;
  font-family: "PF BeauSans Pro", sans-serif;
}